body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
.flexcontainer {
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.centerdiv {
}

.centerRow {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#secondary2 {
  position: absolute;
}
