<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <script src="js/lib/jquery.min.js"></script>
  </head>
  <body style="background-color: white">
    <h1>FUCK YEAH!</h1>

    <form>
  Instagram account/handle: <input type="text" name="usrname"><br>
  <input type="button" value="Submit" id="submitButton">
</form>

<div id="div1" width="250" height="400">
  <img id="result" src="" />
</div>

        <script src="js/client.js"></script>
        <script src="js/color-thief.js"></script>
  </body>
</html>
